RewriteEngine On
RewriteBase /

RewriteRule ^backend/?(.*)$ /layout/backend/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ /layout/frontend/index.php?urlTag=$1 [L]